<!-- This is my BREWERIES Show Page -->
<% include partials/header %>

<script type="text/javascript" src="/javascript/search.js"></script>
	<h2>See more about</h2>

	<h3>Location Results:</h3>

	<!-- <div id="map-canvas"></div> -->
	
	<div class="resultsGoHere">
		<% brewData.data.forEach(function (brew) { %>
			<p> 
					<% if (brew.brewery && brew.brewery.images) { %>
					<img src="<%= brew.brewery.images.medium %>" alt=""></img> <br>
					<%= brew.name %> <br> 
					<%= brew.streetAddress %> <br> 
					<%= brew.locality %> <br>
					<%= brew.hoursOfOperation %> <br>
					<%= brew.website %> <br>
					<%= brew.phone %> <br>
			</p>

		<% }; %>
		<% }); %>

	</div>
	<h3>Hello world!</h3>

<% include partials/footer %>