<!-- This is my BREWERIES Show Page -->
<% include partials/header %>

<script type="text/javascript" src="/javascript/search.js"></script>

<div id="body-color">
	<div class="links-color-background">
		<div class="links">
			<span class="logo">Brew It</span> <br>
			<a href="/" class="home">Return Home</a> <br>
			<a href="/login" class="login"> Login </a> <br>
			<a href="/logout" class="logout"> Logout </a>
		</div>
	</div>

	<!-- <div id="map-canvas"></div> -->
	
	<div class="color-background">
		<div class="heading">
<!-- 		<h2>Find A Local Brewery</h2> -->
		<span class="brewery-results">Your Local Brewery Results:</span>
	</div>

		<div class="resultsGoHere">
			<% brewData.data.forEach(function (brew) { %>
				<p> 
					<div class="brewery-image">
						<% if (brew.brewery && brew.brewery.images) { %>
							<img src="<%= brew.brewery.images.medium %>" alt=""></img> <br>
					</div>

					<div class="info">
						<%= brew.name %> <br> 
						<%= brew.streetAddress %> <br> 
						<%= brew.locality %> <br>
						<%= brew.region %> <br>
						<% if (brew.website) { %>
						<a href="<%= brew.website %>">Visit Website</a> <br>
						<%= brew.phone %> <br>
						<%= brew.hoursOfOperation %> <br>
					</div>
				</p>

			<% } %>
			<% }; %>
			<% }); %>
		</div>
	</div>
</div>
	<a href="/" class="home">Return Home</a>

<% include partials/footer %>